<div class="container">
  <div class="row" style="padding-bottom: 10px; padding-left: 5%;">
    <div class="col-md-6" style="padding-bottom: 7px;padding-top: 7px">
      <div >
        <%= image_tag("ucas1.jpg") %>
      </div>
    </div>
    <div class="col-md-5">
      <h1>中国科学院大学</h1>
      <p style="font-size: 17px; font-family: 微软雅黑;">中国科学院大学（University of Chinese Academy of Sciences），简称“国科大”，是国家教育部正式批准成立的一所以研究生教育为主的科教融合、独具特色的高等学校。国科大的前身是中国科学院研究生院，成立于1978年，是经党中央国务院批准创办的新中国第一所研究生院，培养了中国的第一个理学博士、第一个工学博士、第一个女博士、第一个双学位博士。经教育部批准，国科大从2014年起开始招收本科生。</p>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info text-center">
        <h1>中国科学院大学选课系统</h1>
      </div>
    </div>
  </div>

  <div class="row" style="padding-left: 13%;">
    <div class="col-md-4">
      <h2>中国科学院大学官网</h2>
      <ul>
        <li>学校概况</li>
        <li>组织机构</li>
        <li>教育教学</li>
        <li>师资队伍</li>
      </ul>
      <a class="btn btn-info" href="http://www.ucas.ac.cn/">国科大官网</a>
    </div>

    <div class="col-md-4">
      <h2>SEP 教育业务平台</h2>
      <ul>
        <li>教务管理</li>
        <li>课程网站</li>
        <li>学工管理</li>
        <li>档案管理</li>
      </ul>
      <a class="btn btn-info" href="http://sep.ucas.ac.cn/d_index/WHVlamk=/">SEP平台</a>
    </div>

    <div class="col-md-4">
      <h2>国科大图书馆</h2>
      <ul>
        <li>入馆指南</li>
        <li>馆藏目录</li>
        <li>电子资源</li>
        <li>文献传递</li>
      </ul>
      <a class="btn btn-info" href="http://lib.ucas.ac.cn/">图书馆</a>
    </div>
  </div>
</div>
